@charset "UTF-8";

/* ------- External ------- */

@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

/*font gun*/
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

/* Font Cannabis */
@font-face {
    font-family: 'back';
    src: url(/style/fontes/CFPlantsandFlowers-Regular.ttf) format(truetype);
}

/* -------  Global ------- */

body, html {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


/* Header */ 


header > nav > ul{
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;

    list-style-type: none;
}

header > nav > ul > a {
    text-decoration: none;
    color: green;
}

header > nav > ul > a:hover {
    color: rgb(34, 144, 38);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.33);
}

header > nav > ul > a > li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}
